<div class="div_fieldset m-2 p-3 rounded">
  <fieldset class="border border-white border-secondary p-4 rounded">
    <legend class="legend_title">    
      <h2>Resend confirmation instructions</h2>
    </legend>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", :class=>"btn btn-light" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </fieldset>
</div>
