    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag("bike_1.jpeg", :alt => "First Slide", :class => "img-responsive") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("bike_6.jpeg", :alt => "Second Slide", :class => "img-responsive") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("bike_3.jpeg", :alt => "Third Slide", :class => "img-responsive") %>
            </div>
            <div class="carousel-item">
                <%= image_tag("bike_4.jpeg", :alt => "Fourth Slide", :class => "img-responsive") %>
            </div>
            <div class="carousel-item">
                    <%= image_tag("bike_5.jpeg", :alt => "Fifth Slide", :class => "img-responsive") %>
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <div class="row descripcion">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="item itemJQuery">
                    
                        <div style="margin-top: 0px;" class="item-billboard">
                            <%= image_tag("maps_1.png", :alt => "Info",:class => "img-responsive imagen_tb") %>
                        </div>
                        <div class="item-detail">
                            <h5 class="card-title">PLANEA TU VIAJE</h5>
                            <p class="card-text">Planea tu recorrido usando rutas rápidas y seguras, conoce las diferentes zonas de riesgo en tu localidad, informa de cualquier evento o falla en la infraestructura pública que pueda afectar tu seguridad y la de los demás.</p>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="item itemJQuery">
                    
                        <div style="margin-top: 0px;" class="item-billboard">
                            <%= image_tag("police_1.png", :alt => "Info",:class => "img-responsive imagen_tb") %>   
                        </div>
                        <div class="item-detail">
                            <h5 class="card-title">SEGURIDAD</h5>
                            <p class="card-text">En la actualidad la seguridad es un tema importante en nuestro diario vivir, por lo tanto se hace uso de tecnologías para aportar en la solución a la problemática de inseguridad que enfrentan algunos de los ciudadanos que usan la bicicleta como medio de transporte.</p>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="item itemJQuery">
                    
                        <div style="margin-top: 0px;" class="item-billboard">
                            <%= image_tag("warning_1.png", :alt => "Info",:class => "img-responsive imagen_tb") %>   
                        </div>
                        <div class="item-detail">
                            <h5 class="card-title">INFORMACIÓN Y ALERTAS</h5>
                            <p class="card-text">Recibe información en tiempo real acerca de eventos que sucedan dentro de tu localidad, además de enviar y responder a solicitudes expresadas por otros usuarios.</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    <br>

    
    